@import url('https://fonts.googleapis.com/ccs?family=Nanum+Gothic&display=swap');

        body
        {
            margin: 0px;
        }

        .header
        {
            position: relative;
            top: 0px;
            width: 100%;
            min-width: 1280px;
            height: 5vh;
            background-color:brown;
        }

        .nav
        {
            position: relative;
            top: 0px;
            width: 1280px;
            min-width: 1280px;
            margin: 0px auto;
            height: 100%;
            background-color: white;
        }

        .main
        {
            position: relative;
            top: 0px;
            width: 100%;
            min-width: 1280px;
            min-height: 90vh;
            background-color:rgb(150,150,150);
        }

        .footer
        {
            position: relative;
            top: 0px;
            width: 100%;
            min-width: 1280px;
            height: 5vh;
            background-color:black;
        }

        .header .nav .menu1
        {
            position: relative;
            float: Left;
            width: 180px;
            cursor: pointer;
        }

        .header .nav .menu2
        {
            position: relative;
            float: Left;
            width: 140px;
            cursor: pointer;
        }

        .header .nav .menu3
        {
            position: relative;
            float: Left;
            width: 140px;
            /* clear: both; */
            cursor: pointer;
        }
        
        /*
        .header .nav .menu3:hover
        {
            color: blue;
            background-color: orange;
        }

        .header .nav .menu3:active
        {
            color: red;
            background-color: orange;
        }
        */

        .header .nav .menu4
        {
            position: relative;
            float: Left;
            width: 140px;
            cursor: pointer;
        }
        
        .header .nav .menu5
        {
            position: relative;
            float: Left;
            width: 140px;
            cursor: pointer;
        }
        
        .main .section1
        {
            position: relative;
            margin: 0px auto;
            padding-top: 50px;
            width: 300px;
            height: 200px;
            border: 1px solid black;
        }

        .main .section1 .img1
        {
            margin: 0px auto;
            width: 300px;
            height:300px;
        }

        .main .section2
        {
            position: relative;
            margin: 0px auto;
            top: 0px;
            width: 300px;
            height: 200px;
            border: 1px solid black;
        }

        .main .section2 .text1
        {
            position: absolute;
            top: 80px;
            left: 20px;
            font-size: 16pt;
            font-family: 'Nanum Gothic', sans-serif;
            font-weight: 700;
            text-align: Left; 
            width: 500px;
            border: 1px solid black
        }

        .main .section2 .img2
        {
            position: absolute;
            top: 160px;
            left: 20px;
            wimenu3dth: 300px;
            height: 300px;
            border: 1px solid black;
            border-radius: 50%;
            background-image:url("img/Action.png");
            background-size: 20%;
            /* background-repeat: repeat-x; */
        }

        .main .section2 .text2
        {
            position: absolute;
            top: 80px;
            left: 20px;
            width: 400px;
            font-size: 16pt;
            font-family: 'Nanum Gothic', sans-serif;
            font-weight: 700;
            text-align: Left; 
            border: 1px solid black
        }

        .main .section3
        {
            position: relative;
            top: 0px;
            margin: 0px auto;
            width: 400px;
            height: 200px;
            padding-top: 50px;
        }

        .main .section4
        {
            position: relative;
            top: 0px;
            margin: 0px auto;
            width: 400px;
            height: 200px;
            padding-top: 50px;
        }
